<div class="container" style="display: flex">
  <div class="card" style="align-items: center;">
      <div class="row"></br>
          <h2 class="text-center">Les consoles <%= @brand %> en location:</h2>
          <% @consoles.each do |console| %>
            <div class="col-xs-4" style="background-color: #F0F2EF; margin-bottom: 5px; position: relative; margin-right: 2px; width: 350px">
            <h4 class="card-title"><%= console.brand %></h4>
            <h6 class="card-subtitle mb-2 text-muted"><%= console.shifter %> manettes</h6>
            <button type="button" class="btn btn-primary"><%= link_to "More details", console_path(console) %></button>
              </br></br>
            </div>
          <% end %>
      </div>
  </div>
</div>
