

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 padded-none">
      <h2 class="">Les consoles <span class="in-redpastel"><%= @brand %></span> en location:</h2>
      <% @consoles.each do |console| %>
      <%= render 'shared/list', console: console %>
      <% end %>
    </div>
  </div>
</div>
