<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path('playing-sony-console-controller_k4isza.jpg', :effect=>'auto_saturation', :height=>1280, :crop=>'scale') %>');">
  <div class="banner-content">
    <h1>CONSOLOC</h1>
    <p>Search the console you always wanted to have and book it easily !</p>
  </div>
</div>
