#footer {
  position: absolute;
  align-items: center;
  justify-content: space-between;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: $paleaqua;
  height: 60px;
  display: flex;
}

#footer p {
  margin-right: 15px;
  margin-bottom: 0px;
  color: $prussianblue;
}

#footer ul {
  margin-bottom: 0px;
  margin-left: 15px;
}

#footer li {
  color: $prussianblue;
  opacity: 1;
}
#footer li:hover {
  opacity: 0.8;
  color: $pastelred;
}
