/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.consoles-rows:nth-child(odd) {
  background: $white;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.consoles-rows:nth-child(even) {
  background: #fbfbfb;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.btn-paleaqua {
  background-color: $paleaqua;
  color: $prussianblue;
}

.z-20 {
  z-index: 20;
}
// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.padded-none {
  padding: 0px 0px;
}

.hidden {
  display: none;
}

.scroll-authorized {
  overflow: auto;
}

.scroll-unauthorized {
  position: fixed;
}

.fake-height {
  height: 50px;
}

.big-fake-height {
  height: 80px;
}

.margin-bottom {
  margin-bottom: 40px;
}

.marged-right {
  margin-right: 60px;
}

.marged-left {
  margin-left: 70px;
}
.no-marged {
  margin-right: 0px;
  margin-left: 0px;
}

.no-marged-right {
    margin-right: 0px;
}

.flex-box-of-details {
  height: calc(100vh - 90px);
}
.flex {
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
}

.absolute {
  position: absolute;
  bottom: 30px;
  left: 148px;
}

.relative {
  position: relative;
}

.facebook {
  background-color: #3B5998;
  padding: 15px 30px;
}

.container-vh {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100vh - 400px);
}

.margin-top-for-button {
  margin-top: 60px;
}

.btn-prussianblue {
  background-color: $prussianblue;
  color: $white;
}

.btn-prussianblue:hover {
  color: $white;
}

.flex-box-of-details {
  position: relative;
}

.cross {
  position: absolute;
  right: 15px;
  top: 35px;
  font-size: 20px;
}

.cross i:hover {
  color: $pastelred;
  font-size: 20px;
}

@media (min-width: 1200px) {
.container-index {
    width: 100%;
  }
}
